// Vars
$transition-duration: 240ms;
$height-topbar: 51px;
$devices-width: 208px;

// Imports
@import "compass/reset", "compass/css3";

// Base
*, *:before, *:after {@include box-sizing(border-box);}

html, body {height: 100%;}

body {
  overflow: hidden;
  background: #040404 inline-image('linen.jpg') 0 0 repeat;
  position: relative;
  font: 14px/1 system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #f5f5f5;
  text-shadow: 0 -1px 0 #000;
}

a {color: #f5f5f5;}

// Styles
#wrapper {
  @include transition(width $transition-duration ease, height $transition-duration ease);
  @include transform-origin(50%);
  @include box-shadow(0 0 12px 1px #000);
  @include translate3d(0, 0, 0);

  iframe::-webkit-scrollbar {display: none;}
  iframe::-moz-scrollbar {display: none;}

  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;

  iframe {
    width: 100%;
    height: 100%;
  }

  &.noTransitions {
     @include transition(0);
  }
}


body>header {
  @include background(linear-gradient(rgba(#343434, .75), rgba(#242424, .75)));
  @include box-shadow(inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(#000, .3));

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  .menu {
    max-width: 768px;
    height: $height-topbar;
    padding: 8px;
    margin: 0 auto;
  }

  @media screen and (min-width: 640px) {
    .menu {padding: 8px 15px;}
  }
}

body>section {
  position: fixed;
  top: $height-topbar;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

#size {
  @include transition(padding $transition-duration ease);
  @include background-image(linear-gradient(#202021, #222223));
  @include box-shadow(0 1px 0 #363738);
  @include border-radius(4px);
  @include translate3d(0, 0, 0);

  color: #eee;
  border: 1px solid #040404;
  padding: 9px 12px 7px;
  margin-right: 8px;
  display: block;
  float: left;

  .width, .height {
    display: inline-block;
    max-width: 34px;
  }

  [contenteditable]:focus {
    @include border-radius(2px);
    outline-offset: 1px;
    outline: 1px solid #aaa;
  }

  @media screen and (max-width: 480px) {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.rotate, .cssrefresh, .reloadiframe, .close {
  @include border-radius(4px);

  color: #eee;
  float: right;
  border: 1px solid #363738;

  &.close a {line-height: 26px;}

  a {
    @include background(linear-gradient(rgba(#343434, 1), rgba(#242424, 1)));
    @include box-shadow(inset 0 1px 0 #3c3c3c);
    @include border-radius(4px);

    text-decoration: none;
    border: 1px solid #040404;
    display: block;
    width: 30px;
    height: 30px;
    outline: none;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;

    &:hover {
      @include background(linear-gradient(rgba(#313131, 1), rgba(#242424, 1)));
    }
  }

  a.active, a:active {
    @include background(linear-gradient(rgba(#1c1c1c, 1), rgba(#242424, 1)));
    @include box-shadow(inset 0 1px 0 #242424);

    outline: none;
  }
}

header {
  .rotate, .cssrefresh, .reloadiframe {
    margin-right: 8px;

    a {
      position: relative;
      text-indent: -9999px;
    }

    a:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.rotate {float: left;}
    &.rotate a:after {
      background: inline-image('icon-rotate.png') 50% 50% no-repeat; /* solar/smartphone-rotate-2-bold */
    }

    &.cssrefresh a:after, &.reloadiframe a:after {
      background: inline-image('icon-cssrefresh.png') 50% 50% no-repeat;
    }
  }
}

#devices {
  @include transition(width $transition-duration ease);
  @include border-radius(4px);

  float: left;
  border: 1px solid #363738;
  select {
    @include background(linear-gradient(rgba(#2c2c2c, 1), rgba(#242424, 1)));
    @include box-shadow(inset 0 1px 0 #242424);
    @include border-radius(4px);

    text-decoration: none;
    border: 1px solid #040404;
    border-right-width: 0;
    height: 30px;
    outline: none;
    color: #f5f5f5;
    font-family: inherit;
    font-size: 1rem;

    option {background: #2e2f2f;}
  }

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  @media screen and (max-width: 480px) {
    select {max-width: 110px;}
  }
}
